$primary-bg:rgb(219, 219, 219);
$primary-green:rgb(107, 152, 107);
$light-green:rgb(131, 185, 131);
$lighter-green:lighten($primary-green, 25%);
$dark-green:darken($primary-green, 20%);
$primary-shadow: rgb(0, 0, 0, 0.5);
$black:black;
$white:white;



$primary-fonts: "open sans", verdana, sans-serif;