@use 'layout';
@use 'base';

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 120px;
        list-style: none;
        

        li{
            margin:0 1rem;

            a{
                text-decoration: none;
                padding:0.5rem 0.7rem;
                border-radius: 3px;
                transition: all 0.5s ease-in-out;
                font-size: 1.2em;
            }

        }
    }
}


.logo{
    display:flex;
    align-items: center;
    text-decoration: none;
    padding:0.5rem 0.7rem;
    font-size: 1.2em;
}


footer{
    text-align: center;
    padding:1px;

    ul{
        list-style: none;

        li{
            margin:0 1rem;
        }
    }
}

.hamburger {
    /*hamburger menyn visas inte */
    display: none;
  }

  
  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  

  @media only screen and (max-width: 1024px) {
    /*Omvandlas till hamburger meny vid max width 1024px */
    .nav-menu {
      position: fixed;
      left: -1000%;
      top: 5rem;
      z-index: 1000;
      /* så menyn visas över innehållet*/
      flex-direction: column;
      background-color: base.$primary-green;
      width: 90%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 10px base.$primary-shadow;
    }
  
    .nav-menu.active {
      left: 0;
      background-color: base.$primary-green;
      position: absolute;
      
    }
  
    .nav-item {
      margin: 1.5rem 0;
      /*mellanrum */
    }
  
    .nav-link {
      color:base.$white;
      /*färg på menyknapparna */
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      /*ändrar muspekaren*/
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .goHome {
      color: base.$white;
      text-decoration: none;
      padding: 14px 16px;
      font-weight: bold;
      font-size: larger;
    }
  
    .hamburger.active .bar:nth-child(1) {
     transform: translate(0px,2px) rotate(45deg);
    
  
      /*specifikationer när man trycker på menyn */
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .nav-link.current {
    padding: 10px;
    text-decoration: underline;
  }
  
  .main-container{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    align-items: start; 
  }

  .container1{
    grid-area: 3 / 1 / 3/ 5;
    margin:0 auto;
    grid-gap:50px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-bottom: 50px;
    border-left: 2px solid base.$dark-green;
    border-right: 2px solid base.$dark-green;
    padding:50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .title1 {
  grid-area: 1 / 1 / 1 / 5; 
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
  }


  .images-container{
    grid-area: 3 / 1 / 3/ 5;
    margin:0 auto;
    grid-gap:50px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }

  .img-line{

    img {
    height:250px;
    width:400;
    padding:40px;
    }

  }

  .img-line{
    border:  0.1px solid base.$dark-green;
    box-shadow: 10px 10px 10px base.$secondary-shadow;
    background-color: base.$lighter-green;
  }

  h1{
    @include base.headline-text;

    i{
        @include base.headline-text;  
    }
  }

  .sass-container{
    grid-area: 2/ 1/ 2/ 5;
    width:90%;
    margin: 0 auto;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 40px;
  }

  .container2{
    @extend .container1;
    width:50%;
  }

//media queries

@media (prefers-color-scheme: dark){
    body{
        background-color: base.$primary-bg-darkm;
    }
    .main-container{
        background-color:base.$primary-bg-darkm;
    }
    .container1{
        border-left: 2px solid base.$dark-green-darkm;
        border-right: 2px solid base.$dark-green-darkm;
    }
    .img-line{
        border:  0.1px solid base.$dark-green-darkm;
        box-shadow: 10px 10px 10px base.$secondary-shadow-darkm;
      }
      h1{
        color:base.$black-darkm;
    
        i{
            color:base.$black-darkm;
        }
    }
    p{
        color:base.$black-darkm;
    }
  }

  $screen-size: 1200px;

@if $screen-size >= 1200px {
  p {
    font-size: 17px;
  }
} @else if $screen-size >= 768px {
  p {
    font-size: 15px;
  }
} @else {
  p {
    font-size: 13px;
  }
}


@media only screen and (max-width: 1600px) {} /*Reglerna för max-width 1600px vilket inte ändras*/

@media only screen and (max-width: 1024px) { /*Reglerna för max-width 1024px*/
    .img-line{

        img {
        height: 180px;;
        width:280px;
        margin:0;
        }
    
      }
      .container2{
        width:60%;
      }

}

@media only screen and (max-width: 600px) { /*Reglerna för max-width 600px*/

  .images-container{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
    
  }
  .img-line{

    img {
    height: 250px;
    width:350px;
    margin:0;
    }

  }
  .container1{
    grid-template-columns: repeat(1, 1fr);
  }
  .container2{
    width:70%;
  }
  p{
    font-size: 15px;
  }
  .container1{
    grid-area: 0;
    margin:0 auto;
    grid-gap:0px; 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    margin-bottom: 0px;
    border-left: 0;
    border-right: 0;
    padding:0px;
    box-shadow: none;
  }
  .title1{
    font-size: 27px;
  }

}

